<div class="row">
    <div class="input-field">
        <input id="titulo" ng-model="nota.titulo" type="text">
        <label for="titulo">Título</label>
    </div>
    <div class="input-field">
        <input id="descricao" ng-model="nota.descricao" type="text">
        <label for="descricao">Descrição</label>
    </div>
    <a ng-click="salvar(nota)" class="waves-effect waves-light btn indigo darken-4">Salvar</a>
    <a href="#!notas" class="waves-effect waves-light btn indigo accent-1">Cancelar</a>
</div>